[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
numpy = "*"
ipykernel = "*"
ipywidgets = "*"
torch = "*"
torchvision = "*"
tqdm = "*"
torchsummary = "*"
torchmetrics = "*"
tensorboard = "*"

[dev-packages]
