[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
numpy = "*"
tensorflow = "*"
keras = "*"
pydot = "==1.4.2"

[dev-packages]
