[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
jupyter = "*"
scikit-learn = "*"
matplotlib = "*"
ydata-profiling = "*"
scipy = {stats = "*"}
plotly = "*"

[dev-packages]

[requires]
python_version = "3.11"
