[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
docx2txt = "*"
pandas = "*"
numpy = "*"
pywin32 = "*"
"osisoft.pidevclub.piwebapi-thompsonp17" = "*"
pandasgui = "*"
seaborn = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"
